/* General */

body {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-color: #fdfcf3;  
}

/* navigation */

.nav ul {
    color: #416788;
    font-size: auto;
    margin: 0;
    padding: 20px;
}
.nav a:hover {
    background-color: #fff;
    color: #dbbadd;
  }

/* headers */

h1, h2 {
    color: #330036;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* text style */

p {
    background-color: #95a190;
    color: #00393d;
}

/* images */

.photo {
    background-repeat: no-repeat;
    max-width: 300px;
    max-height: 300px;
    display: inline-block;
    background-color: blue;
}

  .row {
    height: 30px;
    background-color: red;
    color: white;
    display:inline-block;
    margin-bottom: 0;
    float: center;
    }

.social-media {
    display: inline-block;
}